<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel='stylesheet' href="lib/annotator/annotator.css">
<link rel='stylesheet' href="lib/select2.min.css">
<script type="text/javascript" src="lib/jquery.js"></script>
<script type="text/javascript" src="lib/underscore.js"></script>
<script type="text/javascript" src="lib/backbone.js"></script>
<script type="text/javascript" src="lib/select2.min.js" ></script>
<script type="text/javascript" src="lib/utils.js" ></script>
<script type="text/javascript" src="lib/annotator/annotator-full.min.js" ></script>
<script type="text/javascript" src="lib/annotator.plugin.tags.js" ></script>
<script type="text/javascript" src="lib/annotator.plugin.events.js" ></script>
<script type="text/javascript" src="app.js" ></script>
<style>
.select2-container,.select2-search__field {
    width: 100%!important;    
}
.select2-selection__choice {
    display: inline-block;
    padding: 0 8px;
    margin-bottom: 2px;
    line-height: 1.6;
    font-weight: bold;
    background-color: rgb(230, 230, 230);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.select2-search__field {
    padding: 4px 8px!important;
}

.select2-results__option {
    font-size: 12px!important;
}
#main {
    font-family: Arial;
    font-size: 14px;
    padding-right: 20px;
    position: relative;
    width: 100%;
    text-align: left;
}
.left {
    background: none repeat scroll 0 0 #eee;
    float: left;
    padding:10px;
    width:45%;
    text-align: left;
    height: 100%;
    margin-right: 10px;
}
.right {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D51386;
    float: left;
    overflow: hidden;
    padding: 20px 10px;
    width:45%;
}
.tag {
    background-color: #eee;
    font-size: 10px;
    padding:5px;
}
</style>
<div id="main" class="rounded" >
    <div><b>Select any text below to create annotations.</b></div>
    <div class="left" id="annotatorjs">
    <p>Muffin jelly topping candy candy canes pie. Chocolate cake tiramisu jelly beans cheesecake marshmallow danish sweet roll muffin. Tart chocolate bar dessert wafer donut cotton candy. Sugar plum powder marzipan cheesecake cupcake jelly-o candy canes tiramisu. I love lemon drops chupa chups gummies cupcake pie lemon drops ice cream. Liquorice cupcake toffee tiramisu sesame snaps I love. Gummies I love oat cake bear claw gummi bears pastry jelly-o jujubes. Marzipan lollipop dessert cake lollipop pie carrot cake tootsie roll pie. Gummies I love gummies. Sesame snaps icing sugar plum candy canes pie. Liquorice halvah cookie. Jelly-o pudding pudding soufflé brownie cake apple pie. Jelly beans gummies I love candy canes wafer dragée I love. Toffee lemon drops lemon drops fruitcake.</p>
    <p>Carrot cake topping danish. Toffee gummi bears I love caramels. Muffin marshmallow halvah icing brownie jelly ice cream bear claw I love. Marshmallow ice cream candy apple pie jujubes jujubes lemon drops wafer. Gummies sweet danish liquorice. Soufflé danish dragée jelly lemon drops donut ice cream. Marzipan jujubes marshmallow dragée jelly beans fruitcake. Donut I love sugar plum chupa chups. Gummi bears I love dessert pie gummies. Topping pudding apple pie sweet roll gingerbread carrot cake. Jelly-o pastry muffin toffee bear claw. Chupa chups dessert jelly.</p>
    </div>
    <div class="right" id="annotations-list-block">
    <div id="annotations-list-title"><b>Annotations</b></div>
    <div id="annotations-list-view"></div>
    </div>
</div>
<script type="text/template" id="annotation-item-view-template">
<div>
    <b><%= quote %></b>
    <br><%= text %>
    <% _.each(tags, function(tag) { %>
        <span class="tag"><%= tag %></span>
    <% }); %>

</div>
</script>
<script type="text/javascript">
var annotationCollection = new AnnotationCollection();
var annotatorjsView = new AnnotatorjsView({
    el: "#annotatorjs",
    collection: annotationCollection,
    availableTags: ['tag1', 'tag2']
}).render();
var annotationsListView = new AnnotationsListView({
    el: "#annotations-list-view",
    collection: annotationCollection
}).render();
var annotationsTitleView = new AnnotationsTitleView({
    el: "#annotations-list-title",
    collection: annotationCollection
}).render();

</script>